body {

  min-height: 100dvh;
  box-sizing: border-box;
}


.back-button {
  position: fixed;
  background: none;
  border: none;
  z-index: 9999;
  top: 2.5vh;
  right: 2dvh;
}

.homeButton {
  height: 5vw;
}

.homeButton:hover {
  transform: scale(1.05);
}

@media (orientation: portrait) and (max-width: 650px) {
  .back-button {
    top: 2dvh;
    right: 2vw;
  }

  .homeButton {
    height: min(12vw, 10dvh);
  }
}